<app-header titulo="ISO-19152 LADM"></app-header>

<ion-content padding>

    <ion-card mode="ios">
        <ion-img src="/assets/iso_ladm.png">

        </ion-img>
        <ion-card-header>
          <ion-card-title>ISO 19152 Land Administration Domain Model</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-list>
            <ion-item><p>Norma ISO 19152, citada en CONPES 3589 para el Catastro Multipropósito.</p></ion-item>
            <ion-item><p>Permite la comunicación entre entidades vinculadas, a partir de un vocabulario común.</p></ion-item>
            <ion-item><p>Este modelo conceptual puede emplearse para otros ámbitos de la Administración de Tierras.</p></ion-item>
            <ion-item><p>Como producto “colateral” del proceso de definir el modelo de catastro multipropósito, se dispone de un modelo núcleo que puede ser usado para diferentes modelos extendidos.</p></ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

</ion-content>
